div.navbar.navbar-fixed-bottom
    div.footer.container
        p 
            span Blockchain demo tool forked from:
            br
            a(href="https://github.com/anders94/blockchain-demo/", target="_blank")  https://github.com/anders94/blockchain-demo/
            br
            span.text-muted Copyright (c) 2016 Anders Brownworth