html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

body > .container-fluid {
  padding: 60px 15px 0;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

input {
  font-family: monospace;
}

.well-success {
  background: rgb(223, 240, 216);
}

.well-error {
  background: rgb(250, 220, 220);
}

.blockchain-line {
  border: 8px solid #BDBDBD;
  width: 100%;
  margin-top: 200px;
  position: absolute;
  z-index: -1 !important;
}

.blockchain-line-good {
  border: 8px solid #4CAF50;
}

.blockchain-line-bad {
  border: 8px solid #ffffff;
}

.header-logo {
  padding: 5px;
}

.header-text {
  top: -10px;
  margin-left: 8px;
  position: relative;
}

.navbar {
  border-bottom: 1px solid #E0E0E0;
}

.nav li.active {
  background: #eeeeee;
}